body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
  margin-top: 100px;
  text-align: center;
  padding: 4rem;
  border-radius: 8px;
  width: 60%;
  border: 2px solid black;
  font-size: 24px;

}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
}

.weather-wrapper {
  border: 1px green solid;
}